/* screen - zara-about */

.zara-about {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2317px;
  width: 1920px;
}

.zara-about .overlap-group2 {
  align-items: center;
  background-color: var(--onyx);
  display: flex;
  height: 195px;
  min-width: 1920px;
  padding: 35px 41px;
}

.zara-about .thepurduegallery {
  -webkit-backdrop-filter: blur(30px) brightness(115%);
  align-self: flex-end;
  backdrop-filter: blur(30px) brightness(115%);
  letter-spacing: 0;
  line-height: 40px;
  min-height: 122px;
  min-width: 138px;
  text-shadow: 0px 3px 6px #00000029;
  white-space: nowrap;
}

.zara-about .icon-material-home {
  height: 43px;
  margin-bottom: 7.82px;
  margin-left: 211px;
  width: 51px;
}

.zara-about .icon-material-assistant {
  height: 55px;
  margin-left: 87px;
  margin-top: 0.15px;
  width: 47px;
}

.zara-about .icon-material-sharp-auto-awesome-motion {
  cursor: pointer;
  height: 54px;
  margin-left: 87px;
  margin-top: 0.15px;
  object-fit: cover;
  width: 54px;
}

.zara-about .icon-material-people-alt {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.44px;
  margin-left: 69px;
  min-width: 68px;
  padding: 0.0px 0;
}

.zara-about .path-container {
  height: 55px;
  position: relative;
  width: 68px;
}

.zara-about .path-1 {
  height: 24px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 20px;
}

.zara-about .path-2 {
  height: 27px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}

.zara-about .path-3 {
  height: 55px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 56px;
}

.zara-about .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 44px;
  display: flex;
  height: 69px;
  margin-left: 107px;
  margin-top: 0.15px;
  min-width: 647px;
  padding: 13.9px 29.2px;
}

.zara-about .icon-material-log-in {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-left: 151px;
  margin-top: 4.18px;
  min-width: 60px;
}

.zara-about .path-container-1 {
  height: 70px;
  position: relative;
  width: 60px;
}

.zara-about .flex-row {
  margin-right: 11.05px;
  margin-top: 196px;
  min-width: 1607px;
}

.zara-about .artist2 {
  border-radius: 229.5px;
  height: 459px;
  object-fit: cover;
  width: 459px;
}

.zara-about .flex-col {
  flex-direction: column;
  margin-left: 168px;
  margin-top: 3px;
  min-height: 313px;
  width: 336px;
}

.zara-about .gallery {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 50px;
  margin-right: 26.89px;
  min-height: 58px;
  min-width: 160px;
  white-space: nowrap;
}

.zara-about .zara-ahmed {
  letter-spacing: 0;
  line-height: 50px;
  margin-top: 113px;
  min-height: 58px;
  white-space: nowrap;
}

.zara-about .icon-awesome-container {
  align-items: flex-start;
  display: flex;
  gap: 43px;
  margin-left: 0;
  margin-top: 33px;
  min-width: 336px;
}

.zara-about .icon-awesome-instagram {
  align-self: flex-end;
  height: 51px;
  object-fit: cover;
  width: 51px;
}

.zara-about .icon-awesome-twitter {
  align-self: center;
  height: 45px;
  margin-bottom: 0;
  object-fit: cover;
  width: 55px;
}

.zara-about .icon-awesome-linkedin {
  height: 48px;
  object-fit: cover;
  width: 49px;
}

.zara-about .icon-awesome-artstation {
  height: 46px;
  object-fit: cover;
  width: 52px;
}

.zara-about .title {
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 106px;
  margin-top: 3px;
  min-height: 58px;
  min-width: 133px;
  text-decoration: underline;
  white-space: nowrap;
}

.zara-about .untitled_1 {
  align-self: center;
  height: 197px;
  margin-left: 208px;
  margin-top: 81.24px;
  object-fit: cover;
  width: 197px;
}

.zara-about .at-the-forefront-of {
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 423.73px;
  margin-top: 4px;
  min-height: 528px;
  min-width: 978px;
  white-space: nowrap;
}
