body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    align-items: stretch;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 70%;
    max-width: 600px;
    margin: 20px;
}

.content {
    display: none;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
}

#form-commentInfo {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
    align-self: center;
}

#comment-count {
    margin-bottom: 5px;
    color: #555;
}

#comment-input {
    width: calc(100% - 20px);
    max-width: 340px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

#submit {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-container {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start;
}

.eachComment {
    margin-bottom: 12px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.deleteComment {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 8px;
    width: fit-content; /* Adjust width to fit content */
}

.time {
    font-size: 12px;
    color: #555;
}

.thumbs {
    font-size: 20px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
}

    .thumbs:hover {
        color: #007BFF;
    }