* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #0a0a0a, #2c2c2c);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.board {
    height: 85vh;
    width: 80vw;
    background-image: linear-gradient(to right, #0a0a0a, #2c2c2c);
    border-radius: 14px;
    position: relative;
    overflow: hidden;
}

.ball {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: spinBall 0.1s linear infinite;
    box-shadow: inset 0 0 12px #0ff, inset 4px 0 12px #0f0, inset -4px 0 12px #f00, inset 4px 0 20px #0f0, inset -4px 0 20px #f00, 0 0 12px #0ff, -2px 0 12px #0f0, 2px 0 12px #f00;
}

@keyframes spinBall {
    100% {
        transform: rotate(360deg);
    }
}

.paddle {
    height: 80px;
    width: 12px;
    border-radius: 6px;
    position: fixed;
    background-color: #555;
}

.paddle_1 {
    top: calc(7.5vh + 35px);
    left: calc(10vw + 20px);
    box-shadow: inset 0 0 12px #0f0, inset -4px 0 12px #f00, inset 4px 0 12px #0ff, inset -4px 0 20px #f00, inset 4px 0 20px #0ff, 0 0 12px #0f0, 2px 0 12px #f00, -2px 0 12px #0ff;
}

.paddle_2 {
    top: calc(85vh + 7.5vh - 80px - 35px);
    right: calc(10vw + 20px);
    box-shadow: inset 0 0 12px #0f0, inset 4px 0 12px #f00, inset -4px 0 12px #0ff, inset 4px 0 20px #f00, inset -4px 0 20px #0ff, 0 0 12px #0f0, -2px 0 12px #f00, 2px 0 12px #0ff;
}

.player_1_score,
.player_2_score,
.message {
    color: #0ff;
    position: fixed;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

.player_1_score {
    left: 30vw;
    margin-top: 30px;
}

.player_2_score {
    left: 70vw;
    margin-top: 30px;
}

.message {
    left: 38vw;
    margin: 30px auto auto auto;
}
