body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(../img/image_processing20221126-26824-1mojns1.gif);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 20px;
  }
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    /* 포커스 시 기본값 숨김 */
    background-color: white;
  }

  .form-group {
    margin-bottom: 20px;
    text-align: center;
  }
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .input-label {
    font-size: 18px;
    margin-right: 10px;
  }
  input[type="text"],
  input[type="password"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    /* 포커스 시 기본값 숨김 */
    background-color: white;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #212529;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  .signup-link {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #888;
  }
  .signup-link a {
    text-decoration: none;
    color: #888;
  }
  .message {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }
  .error-message {
    margin-top: 10px;
    font-size: 14px;
    color: red;
  }
  .custom-button {
    padding: 10px ;
    font-size: 16px;
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

.gobackBtn {
    position: fixed;
    bottom: 20px;
    right: 40px;
  }
  
  .goback {
    color:#212529;
  }